# Enable the rewrite engine
RewriteEngine On

# Rewrite base
RewriteBase /

# Serve existing files and directories directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to index.php
RewriteRule ^(.*)$ index.php/$1 [L]